<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootstrap page</title>

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
  <header>
    <nav>
      <ul>
        <li> <a href="/">Home</a></li>
        <li> <a href="/about">About</a> </li>
      </ul>
    </nav>
  </header>
{{{body}}}

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
