<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Bootstrap template</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quisquam fuga illo in, itaque. Ab reiciendis adipisci, accusamus id numquam, voluptas provident odio pariatur ex consequatur esse beatae molestiae
        tempora.</p>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="https://placekitten.com/400/300" alt="Cat">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>

  <section id="first">
    <div class="container">
      <h2 class="title">First</h2>
      <div class="row">
        <div class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam eum a vero quae, illum expedita incidunt, necessitatibus sapiente illo id. Iusto sit, in quis dolorem debitis iure beatae asperiores harum
          consequuntur
          ratione minus aliquid, repellat similique, reiciendis distinctio velit, veritatis mollitia ducimus atque sunt! Ut mollitia, porro cupiditate enim numquam similique accusamus sequi atque fugiat neque temporibus nostrum maxime est quos
          error obcaecati, inventore itaque a quo quia magnam. Neque eum sed quidem, laborum error. Perspiciatis sit reiciendis corporis, minus, pariatur modi. Dignissimos sint soluta vel nulla maxime laudantium voluptate voluptates! Eaque neque in
          ad molestiae optio assumenda, qui incidunt.
        </div>
      </div>
    </div>
  </section>

  <section id="second" class="bg-light">
    <div class="container">
      <h2 class="title">Second</h2>
      <div class="row">
        <div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quidem vel totam perferendis suscipit, eius voluptate magnam iste officia vero facilis, excepturi sequi, quas eveniet eum, vitae natus? Commodi dignissimos
          possimus culpa quam soluta veritatis natus eveniet nobis dicta tenetur nihil tempore quasi molestiae, accusamus dolor vero in laboriosam fugit ea eligendi numquam blanditiis quisquam suscipit ipsam! Reprehenderit voluptatibus eaque dolore
          ipsam mollitia harum temporibus consectetur vero reiciendis cumque aliquid quaerat laudantium repudiandae, voluptate, nisi eius praesentium commodi? Facilis quo, a sint saepe ipsa molestias impedit! Natus eius enim quidem vel animi! Id
          fuga magnam autem, dolore pariatur perferendis ut!</div>
        <div class="col-md-6">Nisi beatae iusto dicta. Quibusdam eius, iste sit iure quisquam, ipsum necessitatibus rem rerum minima in nihil tempora molestias quas, quaerat maxime ad aperiam reprehenderit. Quasi vitae eveniet, cum, magni fugiat
          debitis id sunt rerum voluptatem illo odit quae quaerat odio. Magni, odio perferendis commodi illo maiores a, eaque fuga impedit deserunt aliquam dignissimos. A, enim exercitationem. Distinctio aliquid fugiat nulla impedit voluptatibus
          minus tempore saepe dolore adipisci, hic necessitatibus, repudiandae consequuntur fuga? Nemo, amet laudantium sint suscipit rerum earum non molestias iusto magni. Aperiam labore quasi esse distinctio eligendi quidem porro amet, quisquam
          repellendus doloribus tempore, veritatis delectus, eius.</div>
      </div>
    </div>
  </section>






</main>
