<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Bootstrap template</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quisquam fuga illo in, itaque. Ab reiciendis adipisci, accusamus id numquam, voluptas provident odio pariatur ex consequatur esse beatae molestiae
        tempora.</p>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="https://placekitten.com/400/300" alt="Cat">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>

  <section id="first">
    <div class="container">
      <h2 class="title">First</h2>
      <div class="row">
        <div class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam eum a vero quae, illum expedita incidunt, necessitatibus sapiente illo id. Iusto sit, in quis dolorem debitis iure beatae asperiores harum
          consequuntur
          ratione minus aliquid, repellat similique, reiciendis distinctio velit, veritatis mollitia ducimus atque sunt! Ut mollitia, porro cupiditate enim numquam similique accusamus sequi atque fugiat neque temporibus nostrum maxime est quos
          error obcaecati, inventore itaque a quo quia magnam. Neque eum sed quidem, laborum error. Perspiciatis sit reiciendis corporis, minus, pariatur modi. Dignissimos sint soluta vel nulla maxime laudantium voluptate voluptates! Eaque neque in
          ad molestiae optio assumenda, qui incidunt.
        </div>
      </div>
    </div>
  </section>

  <section id="second" class="bg-light">
    <div class="container">
      <h2 class="title">Second</h2>
      <div class="row">
        <div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos quidem vel totam perferendis suscipit, eius voluptate magnam iste officia vero facilis, excepturi sequi, quas eveniet eum, vitae natus? Commodi dignissimos
          possimus culpa quam soluta veritatis natus eveniet nobis dicta tenetur nihil tempore quasi molestiae, accusamus dolor vero in laboriosam fugit ea eligendi numquam blanditiis quisquam suscipit ipsam! Reprehenderit voluptatibus eaque dolore
          ipsam mollitia harum temporibus consectetur vero reiciendis cumque aliquid quaerat laudantium repudiandae, voluptate, nisi eius praesentium commodi? Facilis quo, a sint saepe ipsa molestias impedit! Natus eius enim quidem vel animi! Id
          fuga magnam autem, dolore pariatur perferendis ut!</div>
        <div class="col-md-6">Nisi beatae iusto dicta. Quibusdam eius, iste sit iure quisquam, ipsum necessitatibus rem rerum minima in nihil tempora molestias quas, quaerat maxime ad aperiam reprehenderit. Quasi vitae eveniet, cum, magni fugiat
          debitis id sunt rerum voluptatem illo odit quae quaerat odio. Magni, odio perferendis commodi illo maiores a, eaque fuga impedit deserunt aliquam dignissimos. A, enim exercitationem. Distinctio aliquid fugiat nulla impedit voluptatibus
          minus tempore saepe dolore adipisci, hic necessitatibus, repudiandae consequuntur fuga? Nemo, amet laudantium sint suscipit rerum earum non molestias iusto magni. Aperiam labore quasi esse distinctio eligendi quidem porro amet, quisquam
          repellendus doloribus tempore, veritatis delectus, eius.</div>
      </div>
    </div>
  </section>

  <section id="third" class="paper">
    <div class="container">
      <h2 class="title">Third</h2>
      <div class="row">
        <div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo temporibus maiores earum eum, amet veniam error harum, architecto laboriosam ea aut omnis dolor incidunt quo quos inventore deleniti suscipit, officiis
          reiciendis officia esse. Soluta odio veritatis deserunt consequuntur? Tempore officiis facere obcaecati voluptatum aspernatur sed, repellat eveniet, itaque atque dignissimos. Odit, delectus. Atque veniam impedit animi excepturi, culpa
          dolores itaque, minus nesciunt eligendi aut velit, reiciendis quod dignissimos consequatur. Maiores recusandae magni debitis explicabo! Deleniti molestias nulla magnam vel soluta numquam asperiores quos illum, non debitis blanditiis,
          aliquid, saepe? Distinctio nulla adipisci cupiditate repellat consectetur, quas sapiente molestiae fugit at.</div>
        <div class="col-md-4">Nesciunt, facere, voluptates. Sequi nulla suscipit sint dolor eligendi quia, mollitia est itaque expedita similique accusantium voluptas ab cumque aut ad praesentium soluta id quos facere harum. Molestiae natus
          provident non quod? Eaque consequatur, quaerat explicabo fugiat cumque, fuga porro, alias vitae ratione esse quam architecto illo. A tempora deleniti, aut minus itaque necessitatibus perferendis, voluptas ratione, voluptatum, cupiditate
          autem facere eos repudiandae consequuntur? Eligendi sapiente, libero beatae quae, dignissimos, provident illum rerum explicabo accusamus nulla autem voluptatibus accusantium, saepe modi. Nemo iure impedit delectus tempore non laborum aut
          maxime excepturi totam. Culpa blanditiis, maiores labore explicabo temporibus libero nam.</div>
        <div class="col-md-4">Itaque praesentium voluptatum expedita, ea consequatur voluptatem eveniet esse aperiam perspiciatis quia optio, commodi earum! Dolorum voluptatum tenetur veniam, aliquid quo. Illum impedit enim ad nisi hic, mollitia.
          Nemo eligendi, laudantium sit, atque iusto architecto vel quos quis repellendus ab aperiam, debitis, consequuntur ducimus mollitia deserunt nihil. Tenetur, labore. Nulla reprehenderit repellendus nostrum quos deleniti repudiandae, et
          eaque, recusandae ipsa porro fugiat. Dolorem beatae ducimus, nam tenetur ea eius aspernatur accusamus ex animi rem facere perferendis eos, maiores ab atque. Cupiditate quisquam voluptatibus deserunt, tempore vel possimus perspiciatis
          reiciendis a sequi iste totam vero cumque, debitis veritatis velit qui reprehenderit.</div>
      </div>
    </div>
  </section>

  <section id="fourth" class="bg-light paper">
    <div class="container">
      <h2 class="title">Fourth</h2>
      <div class="row">
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa hic praesentium omnis dignissimos, dicta ad qui aliquam fugit est illum! Delectus consequuntur, praesentium assumenda inventore libero facere quaerat
          excepturi, culpa labore qui et, laudantium dolorem quibusdam cumque saepe minima. Aut, temporibus. Ut doloremque ratione modi sapiente temporibus quis possimus eveniet aliquid deleniti, pariatur, eligendi nisi culpa quo perspiciatis
          quidem repudiandae corporis velit, quas molestiae. Quasi assumenda maxime ut tempore cupiditate inventore hic nam sint. Aliquam aspernatur, at consectetur doloribus porro, a sint facilis, in ab totam iste soluta. Sunt tempore nisi at
          beatae, qui vel incidunt deleniti dolore iusto. Obcaecati.</div>
        <div class="col-md-3">Omnis consectetur blanditiis repellat obcaecati minus maiores minima est dolor laborum illo. Non incidunt cum vel a porro provident hic at, nesciunt eum maxime, excepturi error neque nisi earum expedita ab culpa
          voluptates illum unde cumque, id, magnam recusandae nostrum illo. Sequi nulla deserunt reprehenderit, nihil, libero sit quod distinctio consectetur magni ea a incidunt perferendis accusamus qui dolores delectus aliquid minus voluptas,
          excepturi. Vitae veritatis odio, doloribus deserunt ullam, modi repellat possimus exercitationem sint doloremque quibusdam alias vel? Vitae saepe suscipit cumque explicabo facere et, molestias quidem incidunt asperiores odio nisi a
          dignissimos officiis assumenda dolorum officia tempore ut?</div>
        <div class="col-md-3">Cupiditate sequi laudantium voluptatem. A pariatur rerum aspernatur ipsum quos maxime minima, ex veritatis aperiam fugit repellendus voluptate repudiandae sed adipisci quas suscipit perferendis, obcaecati dolorem optio
          consectetur. Consequuntur aliquid quo beatae. Vitae architecto fugiat repellat ipsam reiciendis. Quidem ipsa neque rem iusto autem voluptas explicabo eligendi beatae temporibus, eos similique nihil aperiam maxime repudiandae adipisci
          laboriosam corporis doloremque consequatur! Dolorem sed saepe laudantium, id totam odit illo delectus maiores ducimus, ea commodi itaque nemo at incidunt quisquam ex eveniet magni autem. Sint quia enim error quod ad mollitia, iusto
          dolorem dolor, magnam eius non nihil asperiores velit dicta similique.</div>
        <div class="col-md-3">Magni iure voluptates nihil distinctio suscipit porro nisi iste optio aspernatur. Distinctio, aut. Velit modi sint ullam voluptas perferendis, beatae odio dignissimos, ut cumque mollitia error quisquam rem. Expedita,
          praesentium, sequi excepturi provident quaerat ratione facere deserunt soluta, neque magnam labore id obcaecati fugit non doloribus ullam minus? Veritatis temporibus ea ducimus placeat esse omnis, iste eos illum maxime ad, accusantium
          fugiat beatae, laborum sunt modi? Tenetur eos dignissimos ex? Ipsam adipisci, asperiores eum delectus. Distinctio, illo, quasi maxime saepe at vitae, perferendis vel eum quibusdam, magnam omnis enim praesentium delectus tempore? Beatae
          rem id, velit consequuntur illum aut esse!</div>
      </div>
    </div>
  </section>




</main>
